/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
    font-family: nyt-cheltenham-italic-700;
    src: url(/assets/fonts/cheltenham-italic-700.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --headerBorder: #E2E2E2;
    --headerSvgBoxBackgroundHover: #F7F7F7;
    --headerBtnBackground: #567B95;
    --headerBtnBorder: #326891;
    --headerBtnBorderHover: #326891;
    --footerNav2Border: #EBEBEB;
    --footerNav2Txt: #666;
    --articleSocialBorder: #EBEBEB;
    --articleIconDefault: #EEE;
    --articleFigureAuthor: #888;
    --iconBoxHover: #CCC;
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--white);
    color: var(--black);
}
    a {
        text-decoration: none;
        color: var(--black);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

/* Header */
.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--headerBorder);
    height: 43px;
    padding: 0 2em;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    background: var(--white);
}
    .header__left__svgBox {
        padding: 1.2em .8em;
        border-radius: 3px;
        transition: .5s ease;
    }
        .header__left__svgBox:hover {
            background: var(--headerSvgBoxBackgroundHover);
        }

        .header__left__svgBox:nth-last-of-type(2) {
            margin: 0 1.3em 0 .9em;
        }
            .header__left__svgBox--svg {
                height: 16px;
                vertical-align: middle;
            }

    .header__left--txt {
        vertical-align: middle;
        font-size: 1.5em;
    }
        .header__left--txt:hover {
            text-decoration: underline;
        }

    .header__center--svg {
        height: 26px;
        margin-top: .5em;
    }

    .header__right--btn {
        background-color: var(--headerBtnBackground);
        border: 1px solid var(--headerBtnBorder);
        color: var(--white);
        font-size: 1.15em;
        padding: .7em 1em;
        border-radius: 3px;
        transition: .3s linear;
    }
        .header__right--btn:last-of-type {
            margin-left: .4em;
        }

        .header__right--btn:hover {
            cursor: pointer;
            background: var(--headerBtnBorderHover);
        }

/* Main */
.main {
    padding: 5.7em 2em 0;
}
    .main__titleBox {
        width: 60em;
        max-width: 100%;
        margin: 0 auto;
        font-family: nyt-cheltenham-italic-700;
    }
        .main__titleBox--h1 {
            margin: 0;
            font-size: 4em;
            line-height: 1.2;
        }

    .main__social {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid var(--articleSocialBorder);
        width: 60em;
        max-width: 100%;
        margin: 2em auto 3em;
        padding-top: 2em;
    }
        .main__social li {
            margin-right: 1.5em;
        }
            .main__social__iconBox {
                display: inline-block;
                vertical-align: middle;
                background: var(--articleIconDefault);
                border: 1px solid var(--articleIconDefault);
                border-radius: 100%;
                padding: .5em;
            }
                .main__social__iconBox:hover,
                .main__social__whatsappBox:hover {
                    background-color: var(--white);
                    border-color: var(--iconBoxHover);
                }

                .main__social__iconBox--svg {
                    width: 16px;
                    height: 16px;
                }

                .saveIcon--svg {
                    height: 25px;
                }
                    .saveIcon--svg:hover {
                        opacity: .2;
                    }

            .main__social__whatsappBox {
                display: inline-block;
                vertical-align: middle;
                border: 1px solid var(--articleIconDefault);
                border-radius: 100%;
                padding: 1.4em;
                background-image: url(/assets/images/whatsapp.svg);
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: var(--articleIconDefault);
            }

            .main__social__commentBox {
                display: inline-flex;
                font-size: 1.15em;
                min-height: 25px;
                overflow: visible;
                padding: 0 0 .4em;
                position: relative;
            }
                .main__social__commentBox--i {
                    border: 1px solid var(--footerNav2Txt);
                    border-radius: 4px;
                    min-width: 36px;
                    padding: .4em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                }
                    .main__social__commentBox--i:hover {
                        opacity: .5;
                    }

                    .main__social__commentBox--i::before {
                        border-width: 6px 0px 0px 8px;
                        border-style: solid;
                        border-color: var(--footerNav2Txt) transparent;
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -7px;
                        left: 15px;
                    }

                    .main__social__commentBox--i::after {
                        border-width: 6px 0px 0px 6px;
                        border-style: solid;
                        border-color: var(--white) transparent;
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -6px;
                        left: 16px;
                    }

    .main__figure {
        margin: 0 auto;
        text-align: center;
        max-width: 94em;
    }
        .main__figure--img {
            width: 94em;
            max-width: 100%;
            display: inline-block;
        }

        .main__figure--figcaption {
            margin-top: .5em;
            line-height: 1.3;
            font-size: 1.6em;
            text-align: left;
            width: 45em;
            max-width: 100%;
            color: var(--footerNav2Txt);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        }

/* Footer */
.footer {
    border-top: 2px solid var(--headerBorder);
    margin: 3em 6em;
    font-size: 1.25em;
}
    .footer__top {
        border-top: 1px solid var(--headerBorder);
        margin-top: 1px;
        padding: 1em 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
        .footer__top--svg {
            height: 26px;
        }

        .footer__top--txt {
            color: var(--headerBtnBackground);
            font-size: .9em;
        }

    .footer__nav1 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
        .footer__nav1__ul--heading {
            display: inline-block;
            margin-bottom: .3em;
            font-weight: bold;
        }
        
        .footer__nav1__ul li {
            line-height: 2;
        }
            .footer__nav1__ul a:hover {
                text-decoration: underline;
            }

        .footer__nav1__ul.subscribe {
            border-left: 1px solid var(--headerBorder);
            padding: 0 4em 0 1.5em;
        }
            .subscribe li {
                line-height: 2.2;
            }

            .subscribe li:nth-child(-n+5) {
                font-weight: bold;
                font-size: 1.2em;
            }

            .subscribe li:nth-child(1) {
                font-size: 1em;
            }

            .subscribe li:nth-child(6) {
                margin-top: 1em;
            }

            .subscribe li:nth-child(n+6) {
                font-size: .85em;
            }
            
            .subscribe li:nth-child(9) {
                border-top: 1px solid var(--headerBorder);
                margin-top: .4em;
                padding-top: .7em;
            }
                .subscribe a {
                    display: flex;
                    align-items: center;
                }
                    .subscribe svg {
                        width: 13px;
                        height: 13px;
                        margin-right: 7px;
                    }

    .footer__nav2 {
        border-top: 1px solid var(--footerNav2Border);
        margin-top: .7em;
        padding: 1em 2.5em;
    }
        .footer__nav2__ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
            .footer__nav2__ul a {
                color: var(--footerNav2Txt);
                font-size: .9em;
            }
                .footer__nav2__ul a:hover {
                    text-decoration: underline;
                }
