/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --headerBorder: #E2E2E2;
    --headerSvgBoxBackgroundHover: #F7F7F7;
    --headerBtnBackground: #567B95;
    --headerBtnBorder: #326891;
    --headerBtnBorderHover: #326891;
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
