/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --black: #000;
    --headerBorder: #E2E2E2;
    --headerSvgBoxBackgroundHover: #F7F7F7;
    --headerBtnBackground: #567B95;
    --headerBtnBorder: #326891;
    --headerBtnBorderHover: #326891;
}

body {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
    a {
        text-decoration: none;
        color: var(--black);
    }

/* Header */
.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--headerBorder);
    height: 43px;
    padding: 0 2em;
}
    .header__left__svgBox {
        padding: 1.2em .8em;
        border-radius: 3px;
        transition: .5s ease;
    }
        .header__left__svgBox:hover {
            background: var(--headerSvgBoxBackgroundHover);
        }

        .header__left__svgBox:nth-last-of-type(2) {
            margin: 0 1.3em 0 .9em;
        }
            .header__left__svgBox--svg {
                height: 16px;
                vertical-align: middle;
            }

    .header__left--txt {
        vertical-align: middle;
        font-size: 1.5em;
    }
        .header__left--txt:hover {
            text-decoration: underline;
        }
